{% extends 'index.html' %}

{% block body %}

<div class="container" id=myrow>
    <div class="row">
        <pre>
            Welcome to Image Processing Web App with Machine Learning Model in Flask  & Deploy in Python Anywhere
                we have used:
                - Skimage
                - Data Pre-processing
                - Feature Extraction
                · Machine Learning Model
                - Pipeline Model
                - Flask App
                - Deploy in cloud 
                Done by Mohana M, Mohanapriya T, Ramya S

        </pre>
    </div>
</div>
<style>
    #myrow{
        background-color:#EBEDEF;
    }

</style>
{% endblock  %}